/*
* @Author: Administrator
* @Date:   2017-11-12 22:30:07
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-12 23:03:13
*/
/*导航主体*/
.nav-side{float: left;width: 130px;min-height: 100px;}
.nav-side .nav-item{line-height: 25px;font-size: 13px;}
.nav-side .nav-item .link{color: #888;}
.nav-side .nav-item.active .link{color: #c60023;}
/*右侧内容区*/
.content.with-nav{float: left;width: 950px;}