/*
* @Author: Administrator
* @Date:   2017-11-12 21:31:10
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-12 21:34:23
*/
.footer{padding-bottom: 10px;}
.links{text-align: center;color: #666;line-height: 30px;}
.footer .links .link{padding: 0 10px;}
.copyright{text-align: center;color: #666;line-height: 30px;}