/*
* @Author: Administrator
* @Date:   2017-11-12 21:41:42
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-12 22:14:31
*/
/*通用头部导航*/
.header .logo{position: absolute;left:60px;top:34px;display: block;font-size: 36px;color: #c60023;font-weight: bold;}
.header .search-con{padding: 40px 0 30px 250px;}
.header .search-con .search-input{width: 550px;height: 40px;line-height: 40px;padding-left: 10px;font-size: 15px;border:2px solid #c60023;outline: none;}
.header .search-con .search-btn{position: absolute;height: 44px;width: 80px;border:none;}