/*
* @Author: Administrator
* @Date:   2017-11-11 11:26:13
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-18 22:07:24
*/
.nav-simple{height: 60px;line-height: 60px;border-bottom: 1px solid #ddd;background-color: #fff;}
.nav-simple .logo{font-size: 26px;font-weight: bold;color: #c60023;text-decoration: none;}