/*
* @Author: Administrator
* @Date:   2017-11-12 23:17:40
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-12 23:38:23
*/
.page-wrap{padding: 30px 0;margin-top: 20px;text-align: center;background: #fff;}
.result-con{display: none;}
.result-con .result-title{color: #555;}
.result-con .result-content{margin-top: 20px;}
.result-con .result-content .result-link{padding: 5px 10px;border:1px solid #ccc;margin:0 5px;}